@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

html{
    font-family: 'Libre Baskerville', serif;
}

ul{
    display: none;
    position: absolute;
    top: -55px;
    padding: 55px 0 0 0;
    margin: 0;
    
}

ul:hover{
    display: block;
    color: #B61211;
}

li{
    background: #ffffff;
    padding: 10px;
    list-style: none;
}

li:hover{ 
    background: #eee;
    cursor: pointer;
    
}

.button{
    display: inline-block;
    padding: 10px;
    background: #ccc;
    color: black;
    
}
.button:hover{
    color: #B61211;
}

.main{
    display: inline-block;
}

.main:active ul{
    display: block;
} 

.main:aactive ul:hover{
    display: block;
}

.main:active #button{
    display: inline-block;
    padding: 10px;
    background: #ccc;
    color: white;
}